body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    background: url('https://images.unsplash.com/photo-1668345585574-27fab9049590?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDY4fGhtZW52UWhVbXhNfHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60') bottom no-repeat;
    background-size: cover;
}

h1 {
    color: rgb(80, 68, 64);
    font-size: 5rem;
    font-family:'Times New Roman', Times, serif;
}

footer {
    padding-top: 20px;
    padding-bottom: 60px;
    text-align: center;
}

footer .links {
    margin-bottom: 50px;
}

footer .links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.copyright {
    color: rgb(108, 117, 125);
    font-family:'Times New Roman', Times, serif;
}

.news {
    background-color:rgb(250, 232, 209);
    padding: 50px 0 32px;
}

article {
    width: 768px;
    margin: 0 auto 32px;
    padding: 6px 15px;
    border-bottom: 0px solid rgb(128, 128, 128);
}

article a {
    color: rgb(75, 61, 61);
    text-decoration: none;
}

article a:hover {
    color: #ad705a;
}

article h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 5px;
}

.article-meta {
    color: rgb(139, 146, 152);
    margin-bottom: 5px;
}

article img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

article:nth-child(even) {
    background-color:rgb(227, 206, 177);
    padding: 6px 15px;
}

article:nth-child(odd) {
    background-color:rgb(246, 215, 171);
    padding: 6px 15px;
}

.new::before {
    content: "New! ";
    font-family: cursive;
    color: rgb(181, 35, 2);
}